<?xml version="1.0" ?>

<robot name="dossarm_description" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    
    <xacro:include filename="$(find dossarm_description)/urdf/links_joints.xacro" />
    <xacro:property name="path_to_meshes" value="package://dossarm_description/meshes" />
     
     <link name="world">
    </link>
    
    
     <joint name="odom_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="world" />
        <child link="base_link" />
    </joint>
    <xacro:m_link_mesh name="base_link"
        origin_xyz="0 0 0"
        origin_rpy="1.5707 0 0"
        meshfile_visual= "${path_to_meshes}/Motor_1_Case.stl"
        meshfile_collision= "${path_to_meshes}/Motor_1_Case.stl"
        mass="0.1"
        ixx="0.03"
        ixy="0.0"
        ixz="0.0"
        iyy= "0.03"
        iyz= "0.0"
        izz="0.03"
    />
 
  

     <xacro:m_link_mesh name="Motor_1"
    origin_xyz="0 0 0"
    origin_rpy="1.5708 0 0"
    meshfile_visual= "${path_to_meshes}/PH54_200.stl"
    meshfile_collision= "${path_to_meshes}/PH54_200.stl"
    mass="0.1"
    ixx="0.03"
    ixy="0.0"
    ixz="0.0"
    iyy= "0.03"
    iyz= "0.0"
    izz="0.03"
    />
    
   
     <xacro:m_joint_fixed name= "dummyjoint_base_to_motor_1"
       
        origin_xyz= "0 0 0.064"
        origin_rpy="0 0 0"
        
        parent="base_link"
        child="Motor_1"
       
    />
    
    <xacro:m_link_mesh name="Link_1"
    origin_xyz="0 0 0"
    origin_rpy="1.5708 0 0"
    meshfile_visual= "${path_to_meshes}/Motor_2_Case.stl"
    meshfile_collision= "${path_to_meshes}/Motor_2_Case.stl"
    mass="0.1"
    ixx="0.03"
    ixy="0.0"
    ixz="0.0"
    iyy= "0.03"
    iyz= "0.0"
    izz="0.03"
    />

 
        <xacro:m_joint name= "Joint_1"
        type="continuous"
        origin_xyz= "0 0 0.095"
        origin_rpy="0 0 0"
        axis_xyz="0 0 1"
        parent="Motor_1"
        child="Link_1"
        limit_l="-1.5707"
        limit_u="1.5707"
        limit_v="1"
        limit_e="5"
    />
   
      <xacro:m_link_mesh name="Motor_2"
    origin_xyz="0 0 0"
    origin_rpy="0 0 0"
    meshfile_visual= "${path_to_meshes}/PH54_200_Bearings.stl"
    meshfile_collision= "${path_to_meshes}/PH54_200_Bearings.stl"
    mass="0.1"
    ixx="0.03"
    ixy="0.0"
    ixz="0.0"
    iyy= "0.03"
    iyz= "0.0"
    izz="0.03"
    />
   
          <xacro:m_joint_fixed name= "dummyjoint_Link_1_to_Motor_1"
        
        origin_xyz= "-0.00575 0 0"
        origin_rpy="0 0 1.5708"
        
        parent="Link_1"
        child="Motor_2"
    />
   
   <xacro:m_link_mesh name="shoulder"
    origin_xyz="0 0 0"
    origin_rpy="0 0 0"
    meshfile_visual= "${path_to_meshes}/Shoulder_complete.stl"
    meshfile_collision= "${path_to_meshes}/Shoulder_complete.stl"
    mass="0.1"
    ixx="0.03"
    ixy="0.0"
    ixz="0.0"
    iyy= "0.03"
    iyz= "0.0"
    izz="0.03"
    /> 
   

    <xacro:m_joint name= "Joint_2"
        type="revolute"
        origin_xyz= "0 -0.00575 0"
        origin_rpy="0 0 1.5708"
        axis_xyz="1 0 0"
        parent="Motor_2"
        child="shoulder"
        limit_l="-1.5707"
        limit_u="1.5707"
        limit_v="1"
        limit_e="5"
    />
   
     <xacro:m_link_mesh name="Motor_3"
    origin_xyz="0 0 0"
    origin_rpy="0 0 0"
    meshfile_visual= "${path_to_meshes}/PH54_200_Bearings.stl"
    meshfile_collision= "${path_to_meshes}/PH54_200_Bearings.stl"
    mass="0.1"
    ixx="0.03"
    ixy="0.0"
    ixz="0.0"
    iyy= "0.03"
    iyz= "0.0"
    izz="0.03"
    /> 
    

       <xacro:m_joint_fixed name= "dummyJoint_Motor_3_to_UpperArm"
        
        origin_xyz= "0 0.00575 0.1"
        origin_rpy="0 0 0"
       
        parent="shoulder"
        child="Motor_3"
    />
    
   
    <xacro:m_link_mesh name="upperarm"
    origin_xyz="0 0 0"
    origin_rpy="0 0 0"
    meshfile_visual= "${path_to_meshes}/upperarm_complete.stl"
    meshfile_collision= "${path_to_meshes}/upperarm_complete.stl"
    mass="0.1"
    ixx="0.03"
    ixy="0.0"
    ixz="0.0"
    iyy= "0.03"
    iyz= "0.0"
    izz="0.03"
    /> 


       <xacro:m_joint name= "Joint_3"
        type="revolute"
        origin_xyz= "0 -0.00575 0"
        origin_rpy="0 0 1.5708"
        axis_xyz="1 0 0"
        parent="Motor_3"
        child="upperarm"
        limit_l="-1.5707"
        limit_u="1.5707"
        limit_v="1"
        limit_e="5"
    />
    
    <xacro:m_link_mesh name="Motor_4"
    origin_xyz="0 0 0"
    origin_rpy="0 0 0"
    meshfile_visual= "${path_to_meshes}/PH54_200_Bearings.stl"
    meshfile_collision= "${path_to_meshes}/PH54_200_Bearings.stl"
    mass="0.1"
    ixx="0.03"
    ixy="0.0"
    ixz="0.0"
    iyy= "0.03"
    iyz= "0.0"
    izz="0.03"
    /> 
    
        <xacro:m_joint_fixed name= "dummyJoint_Motor_4_to_forearm"
        
        origin_xyz= "-0.00575 0 0.343041 "
        origin_rpy="0 0 1.5708"
        
        parent="upperarm"
        child="Motor_4"
        
    />
   
    <xacro:m_link_mesh name="forearm_upper"
    origin_xyz="0 0 0"
    origin_rpy="0 0 0"
    meshfile_visual= "${path_to_meshes}/forearm_upper_complete.stl"
    meshfile_collision= "${path_to_meshes}/forearm_upper_complete.stl"
    mass="0.1"
    ixx="0.03"
    ixy="0.0"
    ixz="0.0"
    iyy= "0.03"
    iyz= "0.0"
    izz="0.03"
    /> 
   
     <xacro:m_joint name= "Joint_4"
        type="revolute"
        origin_xyz= "0   -0.00575  0 "
        origin_rpy="0 0 1.5708"
        axis_xyz="1 0 0"
        parent="Motor_4"
        child="forearm_upper"
        limit_l="-1.5707"
        limit_u="1.5707"
        limit_v="1"
        limit_e="5"
    />


<xacro:m_link_mesh name="Motor_5"
    origin_xyz="0 0 0"
    origin_rpy="0 0 0"
    meshfile_visual= "${path_to_meshes}/H54P-100_M54P-040.stl"
    meshfile_collision= "${path_to_meshes}/H54P-100_M54P-040.stl"
    mass="0.1"
    ixx="0.03"
    ixy="0.0"
    ixz="0.0"
    iyy= "0.03"
    iyz= "0.0"
    izz="0.03"
    /> 
    

     <xacro:m_joint_fixed name= "dummyJoint_forearm_upper_to_Motor_5"
        
        origin_xyz= "0  0  0.1775"
        origin_rpy="1.5708 0 0 "
       
        parent="forearm_upper"
        child="Motor_5"
       
    />
  

<xacro:m_link_mesh name="forearm_lower"
    origin_xyz="0 0 0.124233"
    origin_rpy="0 0 0"
    meshfile_visual= "${path_to_meshes}/forearm_lower_complete.stl"
    meshfile_collision= "${path_to_meshes}/forearm_lower_complete.stl"
    mass="0.1"
    ixx="0.03"
    ixy="0.0"
    ixz="0.0"
    iyy= "0.03"
    iyz= "0.0"
    izz="0.03"
    />    
    
 <xacro:m_joint name= "Joint_5"
        type="revolute"
        origin_xyz= "0  0 0"
        origin_rpy="-1.5708 0 0 "
        axis_xyz="0 0 1"
        parent="Motor_5"
        child="forearm_lower"
        limit_l="-1.5707"
        limit_u="1.5707"
        limit_v="1"
        limit_e="5"
    />

  
    <xacro:m_link_mesh name="Motor_6"
    origin_xyz="0 0 0"
    origin_rpy="0 0 0"
    meshfile_visual= "${path_to_meshes}/PH42-020_Bearings.stl"
    meshfile_collision= "${path_to_meshes}/PH42-020_Bearings.stl"
    mass="0.1"
    ixx="0.03"
    ixy="0.0"
    ixz="0.0"
    iyy= "0.03"
    iyz= "0.0"
    izz="0.03"
    />    


 <xacro:m_joint_fixed name= "dummyJoint_Motor_6_Wrist_Connection"
        
        origin_xyz= "0.039 0 0.124233"
        origin_rpy="0 1.5708  0 "
       
        parent="forearm_lower"
        child="Motor_6"
       
    />
    



     <xacro:m_link_mesh name="wrist"
    origin_xyz="0 0 0"
    origin_rpy="0 0 0"
    meshfile_visual= "${path_to_meshes}/wrist_complete.stl"
    meshfile_collision= "${path_to_meshes}/wrist_complete.stl"
    mass="0.1"
    ixx="0.03"
    ixy="0.0"
    ixz="0.0"
    iyy= "0.03"
    iyz= "0.0"
    izz="0.03"
    />      
   
   
   
 <xacro:m_joint name= "Joint_6"
        type="revolute"
        origin_xyz= "0 0 -0.039"
        origin_rpy="1.5708 0 -1.5708"
        axis_xyz="0 1 0" 
        parent="Motor_6"
        child="wrist"
        limit_l="-1.5707"
        limit_u="1.5707"
        limit_v="1"
        limit_e="5"
    />

    
  
      <xacro:m_link_mesh name="Motor_7"
        origin_xyz="0 0 0"
        origin_rpy="0 0 0"
        meshfile_visual= "${path_to_meshes}/PH42-020_Bearings.stl"
        meshfile_collision= "${path_to_meshes}/PH42-020_Bearings.stl"
        mass="0.1"
        ixx="0.03"
        ixy="0.0"
        ixz="0.0"
        iyy= "0.03"
        iyz= "0.0"
        izz="0.03"
    />      
 <xacro:m_joint_fixed name= "dummyJoint_Wrist_to_Motor_7"
        
        origin_xyz= "0.039 0 0.082"
        origin_rpy= "1.5708 0 1.5708"
       
        parent="wrist"
        child="Motor_7"
       
    />

   <xacro:m_link_mesh name="arm_ph42"
        origin_xyz="0 0 0"
        origin_rpy="0 0 0"
        meshfile_visual= "${path_to_meshes}/Arm_PH42.stl"
        meshfile_collision= "${path_to_meshes}/Arm_PH42.stl"
        mass="0.1"
        ixx="0.03"
        ixy="0.0"
        ixz="0.0"
        iyy= "0.03"
        iyz= "0.0"
        izz="0.03"
    />      
    <xacro:m_joint name= "Joint_7"
        type="revolute"
        origin_xyz= "0 0 -0.039"
        origin_rpy= "0 1.5708 0"
        axis_xyz="1 0 0" 
        parent="Motor_7"
        child="arm_ph42"
        limit_l="-1.5707"
        limit_u="1.5707"
        limit_v="1"
        limit_e="5"
    />
  
     <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
    </gazebo>
</robot>

